.title-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.other {
    font-size: 20px;
    color: #555;
}

.question-counter {
    font-size: 24px;
    color: #939393;
    font-weight: 700;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-item {
    position: relative;
    border-radius: 24px;
    padding: 32px;
    padding-right: 200px;
    background-color: #fff;
    margin: 10px 0;
    transition: all 0.3s ease;
}

.item-link {
    font-size: 24px;
    font-weight: 500;
}

.item-link::before {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.list-item:hover {
    transform: scale(1.2);
    box-shadow: 0px 20px 24px rgba(0, 0, 0, 0.12);
    z-index: 100;
}

