.list {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 32px;
    border-radius: 24px;
    margin-bottom: 20px;
    transition: all 0.3s ease;
}

.list:hover {
    transform: scale(1.2);
    box-shadow: 0px 20px 24px rgba(0, 0, 0, 0.12);
}

.list-item {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    font-size: 28px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #ddd;
}

.subtitle {
    top: 60px;
    position: absolute;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.1em;
    color: #aaa;
}

.choice-text {
    font-weight: 500;
}

.count-vote {
    font-weight: 600;
}

.vote-link {
    font-size: 20px;
    font-weight: 500;
    color: #444;
    margin: 5px auto;
    transition: .2s;
    padding: 8px 12px;
    border-radius: 8px;
    border: 1px solid transparent;
    opacity: .6;
}

.vote-link:hover {
    opacity: 1;
    background-color: #eee;
    border: 1px solid #aaa;
}