<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'polls/main.css' %}">
    <link rel="stylesheet" href="{% static '404.css' %}">


    <title>Page not found</title>
</head>

<body>
<main class="container">
    <div class="title-wrapper">
        <h1 class="title">Page not found (404)</h1>
    </div>
</main>

<ul class="contact-block">
    <li class="contact-item">
        <a href="https://github.com/quaismodo" class="github-link">
            <img src="{% static 'polls/img/github-logo.svg' %}" alt="" width="50"></a>
    </li>
    <li class="contact-item">
        <a href="https://t.me/quaismodo" class="telegram-link">
            <img src="{% static 'polls/img/telegram-logo.svg' %}" alt="" width="50"></a>
    </li>
</ul>
</body>

</html>